<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta name="theme-color" content="#eeeeee">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename= 'images/favicon.png') }}"/>
    <!-- Bootstrap CSS -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.6/dist/semantic.min.css">
	<script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.6/dist/semantic.min.js"></script>
	<link href='//fonts.googleapis.com/css?family=Open+Sans:400,700,300&subset=latin,vietnamese' rel='stylesheet' type='text/css'>
	<link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Amiri&family=Scheherazade:wght@700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet">
  <!-- <link href="https://fonts.maateen.me/bangla/font.css" rel="stylesheet"> -->
	<!-- <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}"> -->
  <title>{% block title %} {% endblock %}</title>
  </head>
  <body onload="hideLoading()" onbeforeunload="showLoading()">
  	

    <div class="ui blue borderless three item menu navbar fluid" id="menubar" style="width: 100%; background-color: #EEEEEE">
    	{% block menu %} {% endblock %}
    </div>
    
    <div class="ui text container">
        {% block content %} {% endblock %}
        <br>{% block content2 %} {% endblock %}
    </div>

  <footer id="loading-bar" style="position: fixed; bottom: 0; background: white; left: 0; font-family: open sans; font-size: 13px; width: 100%; padding-bottom: 1%; padding-top: 1%; text-align: center; opacity: 0.9; border-radius: 5px;">
    <div class="ui active tiny inline loader" style="padding: 0px 15px"></div>Loading...
  </footer>
  <script src="{{ url_for('static', filename= 'js/script.js') }}"></script>
  
  <script type="text/javascript">
  {% block scriptcontent %}  {% endblock %}
  function showLoading()
  {
    $('#loading-bar').fadeIn();
  }
  function hideLoading()
  {
    $('#loading-bar').fadeOut();
  }
  </script>
  
  </body>
</html>