{% extends 'base.html' %}

{% block title %} {{ surah_name }} : Aayatun - An Ayah a Day {% endblock %}

{% block menu %}

<div class="item" style="outline: none;">
<a class="ui icon basic huge left floated button" href= {% block url1 %} {% endblock %} ><i class="left arrow icon"></i></a>
</div>

<div class="ui header item" style="font-size: 200%; display: inline-block; text-align: middle;">
<a href="{{ url_for('index') }}" style="font-family: Merriweather;">#{{ surah_no }}</a>
</div>

<div class="item">
<a class="ui icon basic right floated huge button" href= {% block url2 %} {% endblock %}><i class="right arrow icon"></i></a>
</div>

{% endblock %}



{% block content %}
	<div class="ui longer modal" id="verse_details_modal">
		<i class="close icon"></i>
		  <div class="header" id="verse_details_modal_heading" style="font-family: open sans; font-size: 120% width: 100%; text-align: center;">
		  	Details
		  </div>
		  <div id="loadingdetails" style="width: 100%; padding-bottom: 5%; padding-top: 5%; text-align: center; opacity: 0.9; border-radius: 5px;" ><div class="ui active tiny inline loader" style="padding: 0px 15px"></div>Loading...</div>
		  <!-- <div class="scrolling content" style="font-family: open sans; font-size: 110%;"> -->
		  	<iframe src="" id="verse_details_modal_content" style="width: 100%; height: 60vh; overflow-y: hidden; border:0px solid lightgray;" >
		  	</iframe>
		  <!-- </div> -->
		  <div class="actions">
		    <a style="font-family: open sans" href="/" id="verse_details_modal_button" class="ui basic button">Go to Verse Page</a>
		  </div>
	</div>

	<link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet">
	<!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css" rel="stylesheet"> -->
	<link href="https://cdn.datatables.net/1.10.22/css/dataTables.semanticui.min.css" rel="stylesheet">
	

	<style>
		* {
			font-family: 'Open Sans', serif;
		}
	</style>


	<div class="comprehensive-div" style="margin: 0px 10px">
	<br>
    <a href="{{ url_for('details', surah=surah_no, verse=1) }}"><h4 style="text-align: center; font-size: 150%; font-family: 'Merriweather', serif;"> {{ surah_name }} </h4></a> 
    <br>

    <br>

    <table class="ui very basic unstackable left aligned table" id="cur_table">
    	<thead>
    		<tr style="display: none;">
    			<th>Verse</th>
    			<th>Translation</th>
    		</tr>
    		
    	</thead>
    <tbody>
    
    {% for x in verses %}
    	<tr style="padding: 1%"> 
    		<!-- <td class="two wide selectable" onclick="window.location.href='{{ url_for('details', surah=surah_no, verse=x[0]) }}';" style="font-family: Lora; font-size: 100%; text-align: center; vertical-align: top; padding-top: 2%; border-radius: 3px;"> {{ x[0] }} </td>  -->
    		<td class="two wide selectable" onclick="showModal( {{ surah_no }} , {{ x[0] }} )" style="font-family: Lora; font-size: 100%; text-align: center; vertical-align: top; padding-top: 2%; border-radius: 3px;"> {{ x[0] }} </td> 
    		<td>
    		{% if x[0] == 1 %}
    			{% block bismillah %} {% endblock %}
    		{% endif %}
	    		<div style="{% block font_config %} {% endblock %}">{{ x[1] }} </div>
	    		</td> 
    	</tr>
    {% endfor %}
	</tbody>
	</table>
	<br>

<!-- <script src="https://code.jquery.com/jquery-3.5.1.js"></script> -->
<script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.22/js/dataTables.semanticui.min.js"></script>


<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js"></script> -->

<script>
	$(document).ready(function() {
	    $('#cur_table').DataTable(
	    	{
	    		"drawCallback": function( settings ) {
	    			//dark theme!
	    			if (is_dark_theme()==="true") {
		    			$('.pagination').addClass('inverted');
		    			$('.icon.input').addClass('transparent inverted');
						$('.selection').addClass('inverted');
						$('.icon.input').css('width', '95%');
						$('.icon.input').css('border-bottom', '1px solid gray');
					}
					// $('.pagination').addClass('inverted');
	    			// $('#cur_table_paginate > div').css('color', 'gray');
	    			// $('#cur_table_paginate > div').removeClass('ui stackable pagination menu').addClass('ui unstackable pagination menu');
			        
			    },
	    		"stateSave": true,
	    		"info": false,
	    		"oLanguage": {
	    	         "sInfo": "Showing _START_ to _END_ of _TOTAL_ verses",
	    	         "sLengthMenu": "_MENU_",
	    	         "sSearch": ""

	    	       },
	    	   "language": {
				    searchPlaceholder: 'Search...',
				    lengthMenu: '<select>'+
							      '<option value="10">10</option>'+
							      '<option value="25">25</option>'+
							      '<option value="50">50</option>'+
							      '<option value="100">100</option>'+
							      '<option value="-1">All</option>'+
							      '</select>'
				}},

	    	   );
	    
		
		$('#cur_table').on( 'page.dt', function () {
		    $('html, body').animate({
		        scrollTop: 0
		    }, 300);
		} );

		
		

		$('#cur_table_wrapper > div').removeClass('stackable').addClass('unstackable');
		$('#cur_table_length').parent().removeClass('eight wide column').addClass('five wide column');
		$('#cur_table_length').parent().css('padding-right', '0px');
		$('#cur_table_length').css('font-size', '90%');
		$('#cur_table_length .selection').css('width', '100%');
		
		$('#cur_table_filter').parent().removeClass('eight wide column').addClass('eleven wide column');
		$('#cur_table_filter').parent().css('padding-left', '0px');
		$('#cur_table_filter').css('font-size', '90%');
		$('#cur_table_filter').css('text-align', 'center');
		$('#cur_table_filter .input').css('width', '100%');
		$('#cur_table_filter .input').removeClass('ui input').addClass('ui icon input');
		$('#cur_table_filter span').prepend('<i class="ui search icon"></i>');

		$('#cur_table_info').css('font-size', '90%');
		
		$('#cur_table_paginate').parent().removeClass('nine wide column').addClass('sixteen wide column');

		//dark theme!
		if (is_dark_theme()==="true") {
			$('.pagination').addClass('inverted');
			$('.icon.input').addClass('transparent inverted');
			$('.selection').addClass('inverted');
			$('.icon.input').css('width', '95%');
			$('.icon.input').css('border-bottom', '1px solid gray');
		}
		
		
	});
	function showModal(s, v){
		$('#verse_details_modal_button').attr("href", "{{ url_for('details', surah=-1, verse=-2) }}".replace("-1", s).replace(-2, v));
		$("#verse_details_modal_content").on("load", ()=>{
			$("#verse_details_modal_content").contents().find("#menubar").hide(); 
			$("#verse_details_modal_content").contents().find("#search-btn").hide(); 
			// $("#verse_details_modal_content").contents().find("#collapse-btn").hide(); 

			$("#verse_details_modal_content").contents().find("#collapse-btn").css("bottom","15px");; 
			
			$("#verse_details_modal_content")[0].contentWindow.navigation_allowed = false;
			
			$("#loadingdetails").hide(); 
			$("#verse_details_modal_content").fadeIn();
		});

		$('#loadingdetails').show();
		$("#verse_details_modal_content").hide();
		document.querySelector('#verse_details_modal_content').setAttribute("src", "{{ url_for('details', surah=-1, verse=-2) }}".replace("-1", s).replace(-2, v)); 
    	
		$("#verse_details_modal_heading").html("Verse #" + v);
		$("#verse_details_modal").modal('show');
		
	            
		
	}
	


</script>

{% endblock %}

